In [1]:
# init
%config IPCompleter.greedy = True  
%matplotlib inline

import pandas as pd
import numpy as np

# Importeer dataset, houd rekening met encoding(!)
csvdata = pd.read_csv('Data\pc4dipv2-csvdata.csv', sep=';',encoding='ISO-8859-1').set_index(['nr'])
pcdata = pd.read_csv('Data\PC4-DB.csv', sep=';',encoding='UTF-8')

# Importeer postcodedatabase

In [2]:
# exploreer data (Zijn los getest - samengevoegd voor leesbaarheid)
csvdata.head()
csvdata.info()

pcdata.head()
pcdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398632 entries, 1 to 398632
Data columns (total 13 columns):
PC4_LEERL             398632 non-null int64
KWALIFICATIENIVEAU    398632 non-null int64
KWALIFICATIE CODE     398632 non-null int64
KWALIFICATIE NAAM     398632 non-null object
MBO SECTOR            398632 non-null object
DOMEIN                398632 non-null object
SECTORUNIT SBB        398632 non-null object
GESLACHT              398632 non-null object
2013   AANT           398632 non-null int64
2014   AANT           398632 non-null int64
2015   AANT           398632 non-null int64
2016   AANT           398632 non-null int64
2017   AANT           398632 non-null int64
dtypes: int64(8), object(5)
memory usage: 42.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4307 entries, 0 to 4306
Data columns (total 9 columns):
PC4                 4307 non-null int64
Woonplaatscode      4307 non-null int64
Woonplaats          4307 non-null object
Gemeentecode        4307 non-null int64
Gemeente            4307 non-null object
Provincie           4307 non-null object
Veiligheidsregio    4307 non-null object
Politie-eenheid     4307 non-null object
Omgevingsdienst     4307 non-null object
dtypes: int64(3), object(6)
memory usage: 302.9+ KB

In [3]:
# Zijn er records met lege waarden? (Beide zijn los getest - samengevoegd voor leesbaarheid)
csvdata.isnull().any().any()
pcdata.isnull().any().any()

False

In [4]:
# Hoeveel kwalificatiecodes zijn er?
kc = csvdata['KWALIFICATIE CODE'].unique()
kc.size

1222

In [5]:
# En hoeveel beschrijvingen zijn er?
kn = csvdata['KWALIFICATIE NAAM'].unique()
kn.size

1080

In [6]:
# Welke kwalificaties hebben meerdere kwalificatie codes?
dup = csvdata.groupby(['KWALIFICATIE NAAM', 'KWALIFICATIE CODE'], as_index=False).sum()[['KWALIFICATIE NAAM','KWALIFICATIE CODE']]
dup[dup.duplicated(['KWALIFICATIE NAAM'], keep=False)]

                                    KWALIFICATIE NAAM  KWALIFICATIE CODE
2                                        AV-productie              90060
3                                        AV-productie              90070
4     AV-productie (Allround medewerker AV-productie)              90061
5     AV-productie (Allround medewerker AV-productie)              90063
6                       AV-productie (Beeldtechnicus)              90071
7                       AV-productie (Beeldtechnicus)              90081
8                            AV-productie (Cameraman)              90073
9                            AV-productie (Cameraman)              90082
10                           AV-productie (Fotograaf)              90075
11                           AV-productie (Fotograaf)              90076
12                           AV-productie (Fotograaf)              90083
13                    AV-productie (Geluidstechnicus)              90084
14                    AV-productie (Geluidstechnicus)              90085
16               AV-productie (Medewerker Fotografie)              90051
17               AV-productie (Medewerker Fotografie)              90052
18               AV-productie (Medewerker Fotografie)              90053
19                        AV-productie (Video-editor)              90088
20                        AV-productie (Video-editor)              90089
21                                      AV-specialist              95702
22                                      AV-specialist              95703
47                                    Allround DTP-er              95705
48                                    Allround DTP-er              95706
53                                 Allround Metselaar              10842
54                                 Allround Metselaar              25102
64      Allround operator (Allround voedingsoperator)              90014
65      Allround operator (Allround voedingsoperator)              97340
79                                Apothekersassistent              10774
80                                Apothekersassistent              91300
85                             Applicatieontwikkelaar              10907
86                             Applicatieontwikkelaar              90020
...                                               ...                ...
1032                                      Straatmaker              10894
1033                                      Straatmaker              94010
1035                            Stuurman alle schepen              25517
1036                            Stuurman alle schepen              95730
1038                          Stuurman kleine schepen              25514
1039                          Stuurman kleine schepen              95732
1044          Stuurman-werktuigkundige kleine schepen              25513
1045          Stuurman-werktuigkundige kleine schepen              95733
1051                                Tandartsassistent              10775
1052                                Tandartsassistent              91410
1070                         Technisch Leidinggevende              25161
1071                         Technisch Leidinggevende              25529
1089                                        Timmerman              25128
1090                                        Timmerman              94920
1091                                        Timmerman              94930
1101       Tweewielertechniek (Eerste Fietstechnicus)              95110
1102       Tweewielertechniek (Eerste Fietstechnicus)              95442
1114                Vakbekwaam medewerker veehouderij              11022
1115                Vakbekwaam medewerker veehouderij              25436
1131                        Veiligheid en vakmanschap              95080
1132                        Veiligheid en vakmanschap              95090
1145                                Verkoopspecialist              25155
1146                                Verkoopspecialist              90380
1152                                         Verkoper              25167
1153                                         Verkoper              25503
1154                                         Verkoper              93750
1160                                      Verzorgende              10427
1161                                      Verzorgende              93260
1162                                   Verzorgende-IG              94830
1163                                   Verzorgende-IG              95530

[256 rows x 2 columns]

In [7]:
# Controleer op unieke postcodes in dataset
csvuniquepc = csvdata['PC4_LEERL'].unique()
csvuniquepc

array([  10,   20,   30, ..., 9997, 9998, 9999], dtype=int64)

In [8]:
# Hoeveel unieke postcodes zijn er?
pcuniquepc = pcdata['PC4'].unique()
pcuniquepc

array([9446, 9465, 9467, ..., 8043, 8044, 8045], dtype=int64)

In [13]:
# Welke postcodes zijn ongeldig?
pcdiff = set(csvuniquepc) - set(pcuniquepc)
pcdiff

{10, 20, 30, 40, 1800, 3300, 6130, 7680}

In [10]:
# Hoeveel postcodes zijn niet te matchen met elkaar?
df = csvdata[csvdata['PC4_LEERL'].isin(pcdiff)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1390 entries, 1 to 324342
Data columns (total 13 columns):
PC4_LEERL             1390 non-null int64
KWALIFICATIENIVEAU    1390 non-null int64
KWALIFICATIE CODE     1390 non-null int64
KWALIFICATIE NAAM     1390 non-null object
MBO SECTOR            1390 non-null object
DOMEIN                1390 non-null object
SECTORUNIT SBB        1390 non-null object
GESLACHT              1390 non-null object
2013   AANT           1390 non-null int64
2014   AANT           1390 non-null int64
2015   AANT           1390 non-null int64
2016   AANT           1390 non-null int64
2017   AANT           1390 non-null int64
dtypes: int64(8), object(5)
memory usage: 152.0+ KB

In [11]:
# Verwijder dataregels uit dataset die geen overeenkomende postcode hebben
newcsvdata = csvdata[~csvdata['PC4_LEERL'].isin(pcdiff)]
newcsvdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397242 entries, 1387 to 398632
Data columns (total 13 columns):
PC4_LEERL             397242 non-null int64
KWALIFICATIENIVEAU    397242 non-null int64
KWALIFICATIE CODE     397242 non-null int64
KWALIFICATIE NAAM     397242 non-null object
MBO SECTOR            397242 non-null object
DOMEIN                397242 non-null object
SECTORUNIT SBB        397242 non-null object
GESLACHT              397242 non-null object
2013   AANT           397242 non-null int64
2014   AANT           397242 non-null int64
2015   AANT           397242 non-null int64
2016   AANT           397242 non-null int64
2017   AANT           397242 non-null int64
dtypes: int64(8), object(5)
memory usage: 42.4+ MB